.page-header {
	font-family: 'Pacifico', cursive;
}
.crystal-image {
	margin-right: 10px;
	margin-top: 10px;
}

#crystal1, #crystal2, #crystal3, #crystal4 {
	max-width: 75%;
}

#crystals {
	margin: auto;
	max-width: 50%;
}

#totalscore {
	margin-bottom: 50px;
}
#w-l-notif, #crystalValue{
	color: red;
}
#counters {
	margin: auto;
	max-width: 50%;
}

#number-to-guess {
	font-size: 	25px;
	color: red;
}

ul {
	list-style-type: none: 	;
}

